body {
  font-family: var(--font-page);
  font-size: 18px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-family: var(--font-page);
  border: none;
  border-radius: 5px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}
