:root {
  --color-dark: ##333333;
  --color-white: #fff;
  --color-text-placeholder: #808080;
  --color-text-accent: #e9e9e9;

  --color-accent: #28a745;
  --color-blog: #0284d0;
  --color-bgn-main: #e5e5e5;
  --color-bgn-accent: #f4f4f4;

  --font-page: 'Open Sans', sans-serif;
}
