<section class="activity">
  <p class="description">This is what we do</p>
  <h2 class="title-activity">Business Cases</h2>
  <p class="title-activity__desc">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul>
    <li>
      <img src="./images/case1.jpg" alt="Примеры наших работ" />
    </li>
    <li>
      <img src="./images/case2.jpg" alt="Примеры наших работ" />
    </li>
    <li>
      <img src="./images/case3.jpg" alt="Примеры наших работ" />
    </li>
    <li>
      <img src="./images/case4.jpg" alt="Примеры наших работ" />
    </li>
    <li>
      <img src="./images/case5.jpg" alt="Примеры наших работ" />
    </li>
    <li>
      <img src="./images/case6.jpg" alt="Примеры наших работ" />
    </li>
    <li>
      <img src="./images/case7.jpg" alt="Примеры наших работ" />
    </li>
    <li>
      <img src="./images/case8.jpg" alt="Примеры наших работ" />
    </li>
  </ul>
</section>
