<section class="blog container">
  <div class="blog__position">
    <p class="blog__date">April 16 2020</p>
    <h2 class="blog__name">Blog Post One</h2>
    <p class="blog__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="blog__button">Read Our Blog</button>
  </div>
  <img class="blog__image" src="./images/blog.jpg" alt="lanch & organise work" height="517px" />
</section>
