<section class="callback">
  <div class="container container__callback">
    <div class="img-container">
      <img src="./images/callback.jpg" alt="" width="680px" height="460px" />
    </div>

    <form class="callback-form">
      <p class="callback-form__text">Request Callback</p>
      <label class="callback-form__desc"
        ><input class="callback-form__input" type="text" name="name" required
        placeholder="Enter your name" / >
      </label>
      <label class="callback-form__desc"
        ><input class="callback-form__input" type="email" name="mail" required
        placeholder="Enter email*"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" / >
      </label>
      <button class="button callback-btn" type="submit">Send</button>
    </form>
  </div>
</section>
