<section class="features">
            <div class="features-section container">
                <h2 class="visually-hidden">features</h2>
                <ul class="features__list list">
                    <li class="features__item">
                        <div class="features__icon">
                            <svg class="features__icon-item" width="35" height="35">
                                <use href="./images/icons.svg#icon-pencil"></use>
                            </svg>
                        </div>
                        <h3 class="features__subtitle">Investmant Banking</h3>
                        <p class="features__descriptions">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
                    </li>
                    <li class="features__item">
                        <div class="features__icon">
                            <svg class="features__icon-item" width="35" height="35">
                                <use href="./images/icons.svg#icon-book"></use>
                            </svg>
                        </div>
                        <h3 class="features__subtitle">Portfolio Manager</h3>
                        <p class="features__descriptions">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
                    </li>
                    <li class="features__item">
                        <div class="features__icon">
                            <svg class="features__icon-item" width="35" height="35">
                                <use href="./images/icons.svg#icon-university"></use>
                            </svg>
                        </div>
                        <h3 class="features__subtitle">Tax & Custudio</h3>
                        <p class="features__descriptions">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
                    </li>
                </ul>
            </div>
</section>
