<footer class="footer">
  <section class="footer-box">
    <div class="footer-links-box">
      <ul class="social-links-footer">
        <li class="social-links-footer__items">
          <a href="" class="social-links-footer__link">
            <svg class="social-links-footer__img" width="35" height="35">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-footer__items">
          <a href="" class="social-links-footer__link">
            <svg class="social-links-footer__img" width="35" height="35">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-footer__items">
          <a href="" class="social-links-footer__link">
            <svg class="social-links-footer__img" width="40" height="35">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-footer__items">
          <a href="" class="social-links-footer__link">
            <svg class="social-links-footer__img" width="31" height="35">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-end-text">Copyright 2021 - FinanceLedger</p>
    </div>
  </section>
</footer>
