<header class="header">
   <div class="container header__container">
			<a class="logotype" href="./index.html"><span class="web-logo"></span>Finance</a>
      <svg class="envelope" width="16" height="12">
					<use href="./images/icons-without-svgomg.svg#icon-logo" ></use>
			<nav class="header__navigation">
				<ul class="header__list">
					<li class="header__item">
						<a class="reader__link link" href="./index.html">Ledger</a>
					</li>
					<li class="header__item">
					 <a class="header__link" href="./index.html">Home</a>
					</li>
					<li class="header__item">
					  <a class="header__link" href="">About</a>
					</li>
          	<li class="header__item">
					  <a class="header__link" href="">Cases</a>
            </li>
              <li class="header__item">
					  <a class="header__link" href="">Blog</a>
            </li>
				</ul>
			</nav>
</header>
