<section class="section-team">
  <p class="section-team-who-we-are">Who we are</p>
  <h2 class="section-team-title">Our Professional Team</h2>
  <p class="section-team-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="section-team-list">
    <li class="section-team-item">
      <img
        src="../images/team-president.jpg"
        alt="John Doe President"
        width="420px;"
        height="280px;"
      />
      <h3 class="section-team-name">John Doe</h3>
      <p class="section-team-position">President</p>
    </li>
    <li class="section-team-item">
      <img
        src="../images/team-vice-president.jpg"
        alt="Jane Doe Vice President"
        width="428px;"
        height="286px;"
      />
      <h3 class="section-team-name">Jane Doe</h3>
      <p class="section-team-position">Vice President</p>
    </li>
    <li class="section-team-item">
      <img
        src="../images/team-marketing-head.jpg"
        alt="Steve Smith Marketing Head"
        width="420px;"
        height="280px;"
      />
      <h3 class="section-team-name">Steve Smith</h3>
      <p class="section-team-position">Marketing Head</p>
    </li>
  </ul>
</section>
