.container__callback {
  display: flex;
}

.callback-form {
  margin-top: 78px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 82px;
}

.callback-form__text {
  margin-bottom: 34px;

  font-size: 34px;
  line-height: 1.41;
  font-weight: 300;
  color: var(--color-dark);
}

.callback-form__input {
  display: inline-block;
  width: 100%;
}
