.web-logo {
  width: 136px;
  height: 43px;
  left: 99px;
  top: 11px;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: var(--color-accent);
}
.header__list {
  display: flex;
  gap: 38px;
}
