.text-section{
    background-color: #28A745;
    font-family: 'Open Sans';
font-style: normal;
}
.button{
    border: 1px solid #FFFFFF;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.56;



color: #FFFFFF;

}