.text-section{
    background-color: #28A745;
    font-family: 'Open Sans';
font-style: normal;
}

/*-----------------------------BUTTON------------------------------*/
.button{
    border: 1px solid #FFFFFF;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.56;


background-color: currentColor;
color: #FFFFFF;

}

/*------------------------------IMAGE------------------------------*/
@media screen and (min-width:320px)
    {

.solution-image{
width: 320px;
}
}

@media screen and (min-width:770px){
.solution-image{
width: 384px;
height: 564px;
object-fit: none;
}
}

@media screen and (min-width:1360px){
.solution-image{
width: 680px;
}
}